.svg-experience {
	background: url("svg/sprite.css-c9745e98.svg") 100% 0 no-repeat;
}

.svg-experience-dims {
	width: 140px;
	height: 130px;
}

.svg-git {
	background: url("svg/sprite.css-c9745e98.svg") 82.31511254019293% 60.05941123220304% no-repeat;
}

.svg-git-dims {
	width: 30px;
	height: 29.263px;
}

.svg-git-i {
	background: url("svg/sprite.css-c9745e98.svg") 91.96141479099678% 60.05941123220304% no-repeat;
}

.svg-git-i-dims {
	width: 30px;
	height: 29.263px;
}

.svg-git-i:hover {
	background: url("svg/sprite.css-c9745e98.svg") 87.13826366559485% 60.05941123220304% no-repeat;
}

.svg-git-i-hover-dims {
	width: 30px;
	height: 29.263px;
}

.svg-hello {
	background: url("svg/sprite.css-c9745e98.svg") 100% 34.808313296240165% no-repeat;
}

.svg-hello-dims {
	width: 140px;
	height: 138.526px;
}

.svg-sk {
	background: url("svg/sprite.css-c9745e98.svg") 87.13826366559485% 66.22240663900415% no-repeat;
}

.svg-sk-dims {
	width: 30px;
	height: 30px;
}

.svg-sk-i {
	background: url("svg/sprite.css-c9745e98.svg") 91.96141479099678% 66.22240663900415% no-repeat;
}

.svg-sk-i-dims {
	width: 30px;
	height: 30px;
}

.svg-sk-i:hover {
	background: url("svg/sprite.css-c9745e98.svg") 82.31511254019293% 66.22240663900415% no-repeat;
}

.svg-sk-i-hover-dims {
	width: 30px;
	height: 30px;
}

.svg-time {
	background: url("svg/sprite.css-c9745e98.svg") 0 0 no-repeat;
}

.svg-time-dims {
	width: 512px;
	height: 512px;
}

.svg-vk {
	background: url("svg/sprite.css-c9745e98.svg") 83.3215348738053% 54.73453771629261% no-repeat;
}

.svg-vk-dims {
	width: 37.513px;
	height: 21.403px;
}

.svg-vk-i {
	background: url("svg/sprite.css-c9745e98.svg") 95.53106900552821% 54.73453771629261% no-repeat;
}

.svg-vk-i-dims {
	width: 37.513px;
	height: 21.403px;
}

.svg-vk-i:hover {
	background: url("svg/sprite.css-c9745e98.svg") 89.477% 54.73453771629261% no-repeat;
}

.svg-vk-i-hover-dims {
	width: 37.513px;
	height: 21.403px;
}

